:root {
  --primary-color: #00a98e;
  --secondary-color: #7d5dc3;
}

ion-list {
  padding-left: 3%;
  padding-right: 3%;
}

.card {
  border-radius: 20px;
  flex-wrap: wrap;
  background-color: map-get($colors, secondary);
  img {
    display: inline;
  }
}

.item {
  text-align: center;
  color: black;
  font-family: 'arvo';
}

.cardRow {
  width: 100%;
  padding: 5px;
  img {
    border-radius: 15px;
    height: 150px;
    width: auto;
    object-fit: cover;
  }
}

@media only screen and (min-width: 400px) {
  .cardRow {
    width: 50%;
  }
}

.distance {
  color: map-get($colors, secondary);
  transition-duration: 0.1s;
}

.distance-close {
  color: yellow !important;
  font-size: 1.2pc !important;
  transition-duration: 0.1s;
}

.distance:hover {
  color: blue;
  font-size: 1.2pc;
  transition-duration: 0.1s;
}

.distance-close:hover {
  color: red !important;
  font-size: 1.4pc !important;
  transition-duration: 0.1s;
}

.distance-container {
  background-color: var(--primary-color);
  border-radius: 1vmin;
  padding: 0 15px;
  width: 30%;
  min-width: fit-content;
  transition-duration: .5s;
}

.distance-container:hover {
  padding: 0 15px;
  width: 100%;
  transition-duration: .5s;
}