<ion-header>
  <ion-toolbar text-center>
    <ion-title style="color: white;">Editar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div align=center>
    <ion-content class="photo">
      <img src="{{imageUrl}}" style="border-radius: 20px;"/>
      <ion-fab slot="fixed" vertical="top" horizontal="end" padding="10dp">
        <ion-fab-button (click)="changePicture()" color="primary">
          <ion-icon name="camera" size="large" color="secondary"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-content>
  </div>

  <!-- ATRIBUTOS -->
  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
    <ion-content class="user-attrib-container">
      <div align=center>
        <ion-grid class="attrib-grid">

          <ion-row class="attrib-row">
            <ion-col size="4" class="attrib-key">
              Nome
            </ion-col>
            <ion-col size="8" class="edit-attrib-value">
              <div class="form-group">
                <input type="text" class="input-box" [formControl]="myForm.controls['name']">
              </div>
            </ion-col>
          </ion-row>

          <ion-row class="attrib-row">
            <ion-col size="4" class="attrib-key">
              Bio
            </ion-col>
            <ion-col size="8" class="edit-attrib-value">
              <div class="form-group">
                <input type="text" class="input-box" [formControl]="myForm.controls['bio']">
              </div>
            </ion-col>
          </ion-row>

          <ion-row class="attrib-row">
            <ion-col size="4" class="attrib-key">
              Idade
            </ion-col>
            <ion-col size="8" class="edit-attrib-value">
              <div class="form-group">
                <input type="number" class="input-box" [formControl]="myForm.controls['idade']">
              </div>
            </ion-col>
          </ion-row>

          <ion-row class="attrib-row">
            <ion-col size="4" class="attrib-key">
              Endereço
            </ion-col>
            <ion-col size="8" class="edit-attrib-value">
              <ion-button type="button" class="edit-button" style="height: 1.6rem !important; width: 80% !important; font-size: 0.7em !important;" (click)="editAddress()">Editar endereço</ion-button>
            </ion-col>
          </ion-row>

          <ion-row class="attrib-row">
            <ion-col size="4" class="attrib-key">
              Telefones
            </ion-col>
            <ion-col size="8" class="edit-attrib-value">
              <ion-button type="button" class="edit-button" style="height: 1.6rem !important; width: 80% !important; font-size: 0.7em !important;" (click)="editPhones()">Editar telefones</ion-button>
            </ion-col>
          </ion-row>

        </ion-grid>
      </div>
    </ion-content>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end" padding="10dp">
      <ion-fab-button type="submit" (click)="onSubmit(myForm.value)" color="primary">
        <ion-icon name="checkmark" size="large" color="secondary"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>

</ion-content>

<ion-fab slot="fixed" vertical="bottom" horizontal="start" padding="10dp">
  <ion-fab-button (click)="return()" color="primary">
    <ion-icon name="return-left" size="large" color="secondary"></ion-icon>
  </ion-fab-button>
</ion-fab>