<ion-header>
  <ion-toolbar text-center>
    <ion-title style="color: white;">Suporte/Contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div align=center style="padding-top:10%;">
    <h1 style="text-align: center;">
      Autor: Yago Dórea
    </h1>
    <br />
    <h2 style="text-align: center;">Contato: yago.dorea@gmail.com</h2>
  </div>
</ion-content>

<ion-fab slot="fixed" vertical="bottom" left padding="10dp">
  <ion-fab-button (click)="return()" color="primary">
    <ion-icon name="return-left" size="large" color="secondary"></ion-icon>
  </ion-fab-button>
</ion-fab>