<ion-header>
  <ion-toolbar text-center>
    <ion-buttons slot="end">
      <ion-button (tap)="skipTutorial()">
        <ion-icon name="skip-forward" style="color:white;" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Tutorial</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- SLIDER PARA MOSTRAR O TUTORIAL -->
  <ion-slides padding pager paginationType="progress" spaceBetween="200" speed="500" class="slide-container">
    <ion-slide *ngFor="let slide of slides">
      <img [src]="slide.image" class="slide-image" />
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <p [innerHTML]="slide.description"></p>
      <div align=center>
        <ion-button expand="block" *ngIf="slide.final" (click)="start()" style="max-width: 300px;">Começar!</ion-button>
      </div>
      <br />
    </ion-slide>
  </ion-slides>

</ion-content>
