<ion-header>
</ion-header>

<!-- ATRIBUTOS -->
<div style="background-color: transparent; height: 200px;"></div>
<form [formGroup]="fGroup" (ngSubmit)="onSubmit()">
  <ion-content class="attrib-container">
    <div align=center>
      <div align=center><p style="color: white;">Padrão: +55[DDD][número]</p></div>
      <ion-grid class="attrib-grid">

        <ion-row formArrayName="items" *ngFor="let item of fGroup.get('items').controls; let i = index" class="attrib-row">
          <ion-col col-3 class="attrib-key">
            Tel {{i}}:
          </ion-col>
          <ion-col col-7 class="edit-attrib-value">
            <div [formGroupName]="i" class="form-group">
              <input type="text" (change)="updateValid()" class="input-box" [ngClass]="{'invalid': item.value.valid == false}" formControlName="name">
            </div>
          </ion-col>
          <ion-col col-2 class="attrib-key">
            <button ion-button type="button" style="height:2rem !important;" (tap)="removeItem(i)">X</button>
          </ion-col>
        </ion-row>
        <ion-row class="attrib-row">
          <ion-col col-12 class="edit-attrib-value">
            <div class="form-group">
              <button ion-button type="button" (tap)="addItem()">Adicionar telefone</button>
            </div>
          </ion-col>
        </ion-row>

      </ion-grid>
    </div>
    <ion-fab bottom right padding="10dp" style="padding-bottom: -50px;">
      <button ion-fab *ngIf="valid" (tap)="onSubmit()" type="submit" color="primary">
        <ion-icon name="checkmark" size="large" color="secondary"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab bottom left padding="10dp" style="padding-bottom: -50px;">
      <button ion-fab (tap)="closeModal()" color="primary">
        <ion-icon name="return-left" size="large" color="secondary"></ion-icon>
      </button>
    </ion-fab>
  </ion-content>
</form>
