<ion-header>
</ion-header>
<ion-content class="modal-colors">
  <div class="color">
    <div class="color-grid">
      <div class="color-element" [ngStyle]="{'background-color': 'white'}" (tap)="addColor('white')">
        <div *ngIf="is.white"><span>Branco</span></div>
      </div>

      <div class="color-element" [ngStyle]="{'background-color': 'black'}" (tap)="addColor('black')">
        <div *ngIf="is.black"><span>Preto</span></div>
      </div>

      <div class="color-element" [ngStyle]="{'background-color': 'brown'}" (tap)="addColor('brown')">
        <div *ngIf="is.brown"><span>Marrom</span></div>
      </div>

      <div class="color-element" [ngStyle]="{'background-color': 'orange'}" (tap)="addColor('orange')">
        <div *ngIf="is.orange"><span>Laranja</span></div>
      </div>

      <div class="color-element" [ngStyle]="{'background-color': 'beige'}" (tap)="addColor('beige')">
        <div *ngIf="is.beige"><span>Beige</span></div>
      </div>

      <div class="color-element" [ngStyle]="{'background-color': 'green'}" (tap)="addColor('green')">
        <div *ngIf="is.green"><span>Outro</span></div>
      </div>
    </div>

    <ion-fab bottom right padding="10dp">
      <button ion-fab (tap)="onSubmit()" type="submit" color="primary">
        <ion-icon name="checkmark" size="large" color="secondary"></ion-icon>
      </button>
    </ion-fab>

  </div>
</ion-content>
