<ion-header>
  <ion-navbar hideBackButton text-center>
    <button ion-button style="display: block !important;" menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Petgree</ion-title>
    <!-- <ion-input placeholder="Text Input" class="navbar-input"></ion-input> -->
  </ion-navbar>
</ion-header>

<ion-content>

  <!-- SLIDER PARA MOSTRAR OS PETS -->
  <div align=center>
    <ion-slides padding pager #slides class="home-slide-container" *ngIf="slidesList && slidesList.length > 0" autoplay="3000"
      paginationType="bullets" spaceBetween="200" speed="500" effect="slide">
      <ion-slide *ngFor="let slide of slidesList" (tap)="goToPet()">
        <div>
          <img [src]="slide.image_url" class="home-slide-img" />
          <div *ngIf="slide.status" class="status-box">Status: {{slide.status.description}}</div>
          <div *ngIf="(slide.distanceToMe >= -0.1)" class="distance-box">Distância: {{slide.distanceToMe}} km</div>
        </div>
        <h2 class="slide-title" no-margin [innerHTML]="slide.name"></h2>
        <br />
      </ion-slide>
    </ion-slides>
  </div>

  <div align=center>
    <div class="home-grid">
      <div class="item-a1">
        <div>Estou procurando</div>
      </div>
      <div (tap)="search('ENCONTRADO')" class="item-a2"><img src="assets/imgs/searching.png" /></div>
      <div class="item-a3"></div>
      <div class="item-b1">
        <div>Encontrei</div>
      </div>
      <div (tap)="search('PERDIDO')" class="item-b2"><img src="assets/imgs/scared.png" /></div>
      <div class="item-b3"></div>
    </div>
  </div>

</ion-content>

<ion-fab bottom center padding="10dp">
  <button ion-fab (tap)="more()" color="secondary">
    <ion-icon name="add" size="large" color="primary"></ion-icon>
  </button>
</ion-fab>
