<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>PetGree</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-row *ngIf="!loggedIn" align-items-center>
      <ion-col col-12><button ion-button menuClose block (click)="openLogin()">Entrar</button></ion-col>
    </ion-row>
    <ion-row *ngIf="loggedIn" align-items-center>
      <ion-col col-12>Logado como {{myEmail}}</ion-col>
      <h1>Disponibilizar aqui depois um avatar do usuário e o logo do aplicativo.</h1>
    </ion-row>
    <ion-row *ngIf="loggedIn" align-items-center>
      <ion-col col-12><button ion-button menuClose block (click)="logout()">Sair</button></ion-col>
    </ion-row>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
