<ion-header>
  <ion-navbar hideBackButton text-center>
    <ion-title>Usuário: {{user.avatar.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div align=center>
    <img class="photo" src="{{user.avatar.imageUrl}}" />
  </div>

  <!-- ATRIBUTOS -->
  <ion-content class="user-attrib-container">
    <div align=center>
      <ion-grid class="attrib-grid">
        <ion-row class="attrib-row" *ngFor="let attrib of attribs">
          <ion-col col-4 class="attrib-key">
            {{attrib.key}}
          </ion-col>
          <ion-col col-8 class="attrib-value">
            {{attrib.value}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>

</ion-content>

<ion-fab bottom left padding="10dp">
  <button ion-fab (tap)="return()" color="primary">
    <ion-icon name="return-left" size="large" color="secondary"></ion-icon>
  </button>
</ion-fab>

<ion-fab *ngIf="isCurrentUser" bottom right padding="10dp">
  <button ion-fab (tap)="editProfile()" color="primary">
    <ion-icon name="create" size="large" color="secondary"></ion-icon>
  </button>
</ion-fab>
