<ion-header>
  <ion-navbar hideBackButton text-center>
    <ion-title>Descrição</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-scroll class="search-master">
  <div align=center class="search-container">
    <div class="filter-grid">
      <div *ngIf="!location" class="grid-element" (tap)="focus('Localização')"><img src="assets/imgs/location.png"></div>
      <div *ngIf="location" class="grid-element-selected" (tap)="focus('Localização')"><img src="assets/imgs/location.png"></div>

      <div *ngIf="!gender" class="grid-element" (tap)="focus('Sexo')"><img src="assets/imgs/gender.png"></div>
      <div *ngIf="gender" class="grid-element-selected" (tap)="focus('Sexo')"><img src="assets/imgs/gender.png"></div>

      <div *ngIf="!type" class="grid-element" (tap)="focus('Família')"><img src="assets/imgs/type.png"></div>
      <div *ngIf="type" class="grid-element-selected" (tap)="focus('Família')"><img src="assets/imgs/type.png"></div>

      <div *ngIf="!race" class="grid-element" (tap)="focus('Raça')"><img src="assets/imgs/race.png"></div>
      <div *ngIf="race" class="grid-element-selected" (tap)="focus('Raça')"><img src="assets/imgs/race.png"></div>

      <div *ngIf="!hasColors" class="grid-element" (tap)="focus('Cores')"><img src="assets/imgs/color.png"></div>
      <div *ngIf="hasColors" class="grid-element-selected" (tap)="focus('Cores')"><img src="assets/imgs/color.png"></div>

      <div *ngIf="!size" class="grid-element" (tap)="focus('Tamanho')"><img src="assets/imgs/size.png"></div>
      <div *ngIf="size" class="grid-element-selected" (tap)="focus('Tamanho')"><img src="assets/imgs/size.png"></div>

      <div *ngIf="!fur" class="grid-element" (tap)="focus('Pêlo')"><img src="assets/imgs/hair.png"></div>
      <div *ngIf="fur" class="grid-element-selected" (tap)="focus('Pêlo')"><img src="assets/imgs/hair.png"></div>

      <div *ngIf="!description" class="grid-element" (tap)="focus('Detalhes')"><img src="assets/imgs/other.png"></div>
      <div *ngIf="description" class="grid-element-selected" (tap)="focus('Detalhes')"><img src="assets/imgs/other.png"></div>
    </div>
  </div>
</ion-content>
<ion-content no-scroll class="master-2">
  <div align=center>
    <div class="focus-title">
      <h1>{{focused}}</h1>
    </div>
    <div class="focused">
      <div *ngIf="focused == 'Localização'" class="location">
        <div class="location-grid">

          <div *ngIf="locationAvailable" class="location-pin">
            <img *ngIf="!locPressed" (tap)="togglePressed()" src="assets/imgs/location-2.png" />
            <img *ngIf="locPressed" (tap)="togglePressed()" src="assets/imgs/location-2-pressed.png" />
          </div>
          <div *ngIf="!locationAvailable" class="location-pin">
            <img *ngIf="!locPressed" src="assets/imgs/location-gray.png" />
          </div>

          <div class="location-box" *ngIf="!locPressed" >
            <ion-input [(ngModel)]="locationText" rows="1" max="255" placeholder="Escreva ou selecione o pino." clearInput></ion-input>
            <div class="btn-container" >
              <button ion-button (tap)="geocode()">OK</button>
            </div>
          </div>

          <div class="location-slider" (tap)="updateRangeText()">
            <ion-item>
              <ion-range min="1" max="4" snaps="true" pin="false" [(ngModel)]="locationRange">
                <ion-icon range-left name="locate"></ion-icon>
                <ion-icon range-right name="navigate"></ion-icon>
              </ion-range>
            </ion-item>
          </div>
          <div class="location-slider-label">{{locRangeText}}</div>

        </div>
      </div>

      <div *ngIf="focused == 'Sexo'" class="gender">
        <div class="gender-grid">
          <div class="gender-element" (tap)="setGender('Macho')">
            <img src="assets/imgs/search/male.png" />
            <div *ngIf="gender == 'Macho'"><span>{{gender}}</span></div>
          </div>
          <div class="gender-element" (tap)="setGender('Fêmea')">
            <img src="assets/imgs/search/female.png" />
            <div *ngIf="gender == 'Fêmea'"><span>{{gender}}</span></div>
          </div>
        </div>
      </div>

      <div *ngIf="focused == 'Família'" class="type">
        <div class="type-grid">
          <div class="type-element" (tap)="setType('Cachorro')">
            <img src="assets/imgs/search/dog.png" />
            <div *ngIf="type == 'Cachorro'"><span>{{type}}</span></div>
          </div>
          <div class="type-element" (tap)="setType('Gato')">
            <img src="assets/imgs/search/cat.png" />
            <div *ngIf="type == 'Gato'"><span>{{type}}</span></div>
          </div>
          <div class="type-element" (tap)="setType('Roedor')">
            <img src="assets/imgs/search/rodent.png" />
            <div *ngIf="type == 'Roedor'"><span>{{type}}</span></div>
          </div>
          <div class="type-element" (tap)="setType('Cavalo')">
            <img src="assets/imgs/search/horse.png" />
            <div *ngIf="type == 'Cavalo'"><span>{{type}}</span></div>
          </div>
          <div class="type-element-non-clickable"></div>
          <div class="type-element" (tap)="setType('Réptil')">
            <img src="assets/imgs/search/reptile.png" />
            <div *ngIf="type == 'Réptil'"><span>{{type}}</span></div>
          </div>
          <div class="type-element" (tap)="setType('Pássaro')">
            <img src="assets/imgs/search/bird.png" />
            <div *ngIf="type == 'Pássaro'"><span>{{type}}</span></div>
          </div>
          <div class="type-element" (tap)="setType('Outro')">
            <img src="assets/imgs/search/other.png" />
            <div *ngIf="type == 'Outro'"><span>{{type}}</span></div>
          </div>
        </div>
      </div>

      <div *ngIf="focused == 'Raça'" class="race">
        <div *ngIf="!type" style="padding: 20px;">Por favor, selecione antes uma família (espécie)</div>
        <div *ngIf="type" class="race-inner">
          <div class="race-grid">
            <div *ngFor="let raca of raceList" class="race-element" (tap)="setRace(raca.name)">
              <img src="{{raca.img}}" />
              <div *ngIf="raca.name == race"><span>{{raca.name}}</span></div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="focused == 'Cores'" class="color">
        <div class="color-grid">
          <div class="color-element" [ngStyle]="{'background-color': 'white'}" (tap)="addColor('white')">
            <div *ngIf="is.white"><span>Branco</span></div>
          </div>

          <div class="color-element" [ngStyle]="{'background-color': 'black'}" (tap)="addColor('black')">
            <div *ngIf="is.black"><span>Preto</span></div>
          </div>

          <div class="color-element" [ngStyle]="{'background-color': 'brown'}" (tap)="addColor('brown')">
            <div *ngIf="is.brown"><span>Marrom</span></div>
          </div>

          <div class="color-element" [ngStyle]="{'background-color': 'orange'}" (tap)="addColor('orange')">
            <div *ngIf="is.orange"><span>Laranja</span></div>
          </div>

          <div class="color-element" [ngStyle]="{'background-color': 'beige'}" (tap)="addColor('beige')">
            <div *ngIf="is.beige"><span>Beige</span></div>
          </div>

          <div class="color-element" [ngStyle]="{'background-color': 'green'}" (tap)="addColor('green')">
            <div *ngIf="is.green"><span>Outro</span></div>
          </div>
        </div>
      </div>

      <div *ngIf="focused == 'Tamanho'" class="size">
        <div class="size-grid">
          <div class="size-element" (tap)="setSize('Pequenino')">
            <img src="assets/imgs/search/tam0.png" />
            <div *ngIf="size == 'Pequenino'"><span>{{size}}</span></div>
          </div>

          <div class="size-element" (tap)="setSize('Pequeno')">
            <img src="assets/imgs/search/tam1.png" />
            <div *ngIf="size == 'Pequeno'"><span>{{size}}</span></div>
          </div>

          <div class="size-element" (tap)="setSize('Médio')">
            <img src="assets/imgs/search/tam2.png" />
            <div *ngIf="size == 'Médio'"><span>{{size}}</span></div>
          </div>

          <div class="size-element" (tap)="setSize('Grande')">
            <img src="assets/imgs/search/tam3.png" />
            <div *ngIf="size == 'Grande'"><span>{{size}}</span></div>
          </div>

          <div class="size-element" (tap)="setSize('Muito Grande')">
            <img src="assets/imgs/search/tam4.png" />
            <div *ngIf="size == 'Muito Grande'"><span>{{size}}</span></div>
          </div>

          <div class="size-element" (tap)="setSize('Imenso')">
            <img src="assets/imgs/search/tam5.png" />
            <div *ngIf="size == 'Imenso'"><span>{{size}}</span></div>
          </div>
        </div>
      </div>

      <div *ngIf="focused == 'Pêlo'" class="fur">
        <div class="fur-grid">
          <div class="fur-element" (tap)="setFur('Nenhum')">
            <img src="assets/imgs/search/fur0.png" />
            <div *ngIf="fur == 'Nenhum'"><span>{{fur}}</span></div>
          </div>

          <div class="fur-element" (tap)="setFur('Pouco')">
            <img src="assets/imgs/search/fur1.png" />
            <div *ngIf="fur == 'Pouco'"><span>{{fur}}</span></div>
          </div>

          <div class="fur-element" (tap)="setFur('Médio')">
            <img src="assets/imgs/search/fur2.png" />
            <div *ngIf="fur == 'Médio'"><span>{{fur}}</span></div>
          </div>

          <div class="fur-element" (tap)="setFur('Muito')">
            <img src="assets/imgs/search/fur3.png" />
            <div *ngIf="fur == 'Muito'"><span>{{fur}}</span></div>
          </div>
        </div>
      </div>

      <div *ngIf="focused == 'Detalhes'" class="other">
        <div class="other-input">
          <textarea [(ngModel)]="description" rows="10" max="255" placeholder="Insira aqui detalhes adicionais como coleira, manchas, traços comportamenais ou algo não contemplado pelos filtros."></textarea>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-fab bottom left padding="10dp">
  <button ion-fab (tap)="return()" color="primary">
    <ion-icon name="return-left" size="mini" color="secondary"></ion-icon>
  </button>
</ion-fab>

<ion-fab bottom right padding="10dp">
    <button ion-fab (tap)="saveFilters()" color="primary">
      <ion-icon name="play" size="mini" color="secondary"></ion-icon>
    </button>
  </ion-fab>