<ion-content class="modal-colors">
    <div class="color">
      <div class="color-grid">
        <div class="color-element" [ngStyle]="{'background-color': 'white'}" (click)="addColor('white')">
          <div *ngIf="is.white"><span>Branco</span></div>
        </div>
  
        <div class="color-element" [ngStyle]="{'background-color': 'black'}" (click)="addColor('black')">
          <div *ngIf="is.black"><span>Preto</span></div>
        </div>
  
        <div class="color-element" [ngStyle]="{'background-color': 'brown'}" (click)="addColor('brown')">
          <div *ngIf="is.brown"><span>Marrom</span></div>
        </div>
  
        <div class="color-element" [ngStyle]="{'background-color': 'orange'}" (click)="addColor('orange')">
          <div *ngIf="is.orange"><span>Laranja</span></div>
        </div>
  
        <div class="color-element" [ngStyle]="{'background-color': 'beige'}" (click)="addColor('beige')">
          <div *ngIf="is.beige"><span>Beige</span></div>
        </div>
  
        <div class="color-element" [ngStyle]="{'background-color': 'green'}" (click)="addColor('green')">
          <div *ngIf="is.green"><span>Outro</span></div>
        </div>
      </div>
  
      <ion-fab slot="fixed" vertical="bottom" horizontal="end" padding="10dp">
        <ion-fab-button (click)="onSubmit()" type="submit" color="primary">
          <ion-icon name="checkmark" size="large" color="secondary"></ion-icon>
        </ion-fab-button>
      </ion-fab>
  
    </div>
  </ion-content>
  