.photo {
  width: 70vw;
  height: 40vh;
  margin-top: 20px;
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
  border-radius: 30px;
  .scroll-content {
    max-height: 100% !important;
    overflow: hidden;
    border-radius: 30px;
  }
}

.user-attrib-container {
  margin-top: 20px;
  height: 40vh;
  overflow: hidden;
  .scroll-content {
    max-height: 100% !important;
  }
}