ion-list {
  padding-left: 3%;
  padding-right: 3%;
}

.card {
  border-radius: 20px;
  background-color: map-get($colors, secondary);
}

.item {
  text-align: center;
  color: black;
  font-family: 'arvo';
}